/**
 * @name chilemorron
 * @author DevilBro
 * @version 1.0.5
 * @description Allows you to use a background image without greatly altering the basic look of Discord.
 * @source https://raw.githubusercontent.com/mwittrien/BetterDiscordAddons/master/Themes/BasicBackground/BasicBackground.theme.css
 * @invite Jx3TjNS
 * @donate https://www.paypal.me/MircoWittrien
 * @patreon https://www.patreon.com/MircoWittrien
 * @website https://github.com/mwittrien/BetterDiscordAddons/tree/master/Themes/BasicBackground
 * @authorId 278543574059057154
 * @BDEditor BasicBackground
*/

@import url('https://fonts.googleapis.com/css2?family=Lobster:wght@100;300;400;500;700&display=swap');
@import url('https://mwittrien.github.io/BetterDiscordAddons/Themes/BasicBackground/BasicBackground.css');

:root {
  --background: url('https://i.pinimg.com/originals/22/60/47/22604729bfd6bccd8b4d40f3ee680c80.jpg');
  --backgroundsize: cover;
  --backgroundposition: center;
  --backgroundblur: 0px;
  --popout: url('https://i.pinimg.com/originals/6a/5b/3b/6a5b3b85ff11ee6f8306d79a1647db8d.jpg');
  --popoutsize: contain;
  --backgroundposition: center;
  --popoutblur: 0px;
  --transparencycolor: 189,220,234;
  --accentcolor: 140,210,242;
  --backdrop: rgb(0,0,0,1);
  --textshadow: transparent;
  --transparencyalpha: 0.16;
  --messagetransparency: 0.48;
  --guildchanneltransparency: 0.15;
  --chatinputtransparency: 0;
  --memberlisttransparency: 0;
  --font: Lobster;
  --textbrightest: 0,0,0;
  --textbrighter: 0,0,0;
  --textbright: 9,66,111;
  --textdark: 103,58,183;
  --textdarker: 106,11,122;
  --textdarkest: 140,153,226;
  --settingsicons: 1;
  --backdropsize: var(--background-size);
  --backdropblur: 0px;
  --version1_0_5: none;
}

/* Any custom CSS below here */


